* {
    box-sizing: border-box;
    font-family: Courier, serif;
    user-select: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #00eeff, #ff00ff);
}


.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: minmax(150px, auto) repeat(6, 90px);
    
}

.wide {
    grid-column: span 2;
}

.grid button {
    cursor: pointer;
    background-color: #ffffffcc;
    font-size: 1.5rem;
    border: 0px;
    margin: 2px;
    outline: none;
}

.grid button:hover {
    background-color: #ffffffaa;
}

#difficulty {
    grid-column: span 3;
}

#difficulty:hover {
    background-color: #ffffffcc;
    cursor: default;
}

#easy {
    color: red;
}

#output {
    grid-column: span 5;
    background-color: #000000cc;
    color: white;
    padding: 25px;
    margin: 2px;
    word-break: break-all;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
