* {
    box-sizing: border-box;
    font-family: Courier, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #00eeff, #ff00ff);
}


.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(6, 100px);
    
}

.grid button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #ffffffcc;
    border: 0px;
    margin: 2px;
    outline: none;
}

.grid button:hover {
    background-color: #ffffffaa;
}

#noHover:hover {
    background-color: #ffffffcc;
    cursor: default;
}

.double {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #000000cc;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0px 2px;
}